HABIT_TRACKER__DB__URL=postgresql+asyncpg://postgres:pwd@localhost:5432/app
HABIT_TRACKER__DB__ECHO=1
HABIT_TRACKER__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET
HABIT_TRACKER__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET
