HABIT_TRACKER__DB__URL=postgresql+asyncpg://postgres:pwd@localhost:5432/app
HABIT_TRACKER__DB__ECHO=1
HABIT_TRACKER__ACCESS_TOKEN__RESET_PASSWORD_TOKEN_SECRET=SECRET
HABIT_TRACKER__ACCESS_TOKEN__VERIFICATION_TOKEN_SECRET=SECRET
HABIT_TRACKER__SUPERUSER_INFO__EMAIL=EMAIL
HABIT_TRACKER__SUPERUSER_INFO__PASSWORD=SECRET
HABIT_TRACKER__SMTP__SMTP_HOST=HOST
HABIT_TRACKER__SMTP__SMTP_PORT=PORT
HABIT_TRACKER__SMTP__SMTP_USER=EMAIL
HABIT_TRACKER__SMTP__SMTP_PASSWORD=SECRET